{% load i18n %}
{% load l10n %}
{% localize off %}
<style media="screen">
  .filter-box .row > div
  { padding-left:15px ; padding-right:0px;}
</style>
<div class="modal fade" id="modal-container-entry-unpacked">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close_container_unpack" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans 'Container Unpacking' %}</h4>
            </div>
            <div class="modal-body">
                <!-- Success/Error -->

                <form id="container_unpack-form" action="{% url 'logisticsorder:containerunpack-entry-endpoint' %}" data-url="{% url 'logisticsorder:containerunpack-entry-endpoint' %}" data-orderreference="{{ orderreference }}" class="form-horizontal" method="post">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-body">
                                <button id="container_unpack_edit" type="button" class="btn btn-info btn-sm" data-url="{% url 'logisticsorder:containerunpack-entry-endpoint' %}" data-orderreference="{{ orderreference }}" ><span class="glyphicon glyphicon-edit"></span>{% trans 'Edit' %}</button>
                                <button id="container_unpack_export" data-url="{% url 'logisticsexport:container-export' %}" data-orderreference="{{ orderreference }}" type="button" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-export"></span>{% trans 'Export' %}</button>
                                <button id="container_unpack_delete" type="button" class="btn btn-danger btn-sm" data-url="{% url 'logisticsorder:container-entry-delete' %}" data-orderreference="{{ orderreference }}" ><span class="glyphicon glyphicon-trash"></span>{% trans 'Delete' %}</button>

                            </div>
                            <ul class="list-error">
<!--                                <li class="has-success"><strong><i class="fa fa-check"></i></strong></li>-->
<!--                                <li class="has-error"><strong><i class="fa fa-times-circle-o"></i></strong></li>-->
<!--                                <li class="has-warning"><strong><i class="fa fa-bell-o"></i></strong></li>-->
                            </ul>
                            <div class="box box-primary">
                                <div class="box-body filter-box fbt2">
                                    <div class="row form-group add-order">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="filter-lbl">{% trans 'Order Number' %}</div>
                                            <input id="container_unpack_order_number" type="text" class="form-control" placeholder="{% trans 'Order Number' %}" name="order_number" value="NEW" readonly required>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="filter-lbl">{% trans 'Container Type' %}<sup style="color:red;">*</sup></div>
                                            <select id="container_unpack_type" name="container_type" class="form-control container_fields" required>
                                                <option value="" data-container-tare="" >{% trans 'Container Type' %}</option>
                                                {% for container in containers %}
                                                    <option value="{{ container.containertypecode }}" data-container-tare="{{ container.containerweight }}">
                                                        {{ container.containertypename }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="filter-lbl">{% trans 'Container Tare' %}</div>
                                            <input id="container_unpack_tare" type="text" class="form-control container_fields" placeholder="{% trans 'Container Tare' %}" name="container_tare"  readonly required>
                                        </div>

                                        <div class="col-md-4 col-sm-4" style="padding-left: 15px;">
                                            <div class="filter-lbl">{% trans 'Packing Unit' %}<sup style="color:red;">*</sup></div>
                                            <select id="container_unpack_packingname" name="packingname" class="form-control container_fields" required>
                                                <option value="" data-container-tare="" >{% trans 'Packing Unit' %}</option>
                                                {% for unitname in unitnames %}
                                                    <option value="{{ unitname.unitcode }}" data-unit_weightinkg="{{ unitname.weightinkg }}">
                                                        {{ unitname.unitname }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="filter-lbl">{% trans 'Unit Wt(kg)' %}</div>
                                            <input id="container_unpack_unit_weight" type="text" class="form-control container_fields" placeholder="0.00" name="unit_weight" readonly required>
                                        </div>

                                        <div class="col-md-2 col-sm-2">
                                            <div class="filter-lbl">{% trans 'Quantity' %}<sup style="color:red;">*</sup></div>
                                            <input type="number" id="container_unpack_qty" class="form-control container_fields" placeholder="{% trans 'Quantity' %}" name="quantity" min="1"  required>
                                            <input id="unpack_weightinkg" name="weightinkg" class="form-control" value="N" type="hidden">
                                        </div>


                                       <!--  <div class="col-md-2 col-sm-2" style="padding-left: 15px;">
                                            <div class="filter-lbl">{% trans 'Unit' %}</div>
                                            <select id="unpack_weightinkg" name="weightinkg" class="form-control" >
                                                <option value="N">{% trans 'IN METRIC TON' %}</option>
                                                <option value="Y">{% trans 'IN KG' %}</option>
                                            </select>
                                        </div> -->
                                        <div class="col-md-2 col-sm-2">
                                            <div class="filter-lbl">{% trans 'Net Weight' %}</div>
                                            <input id="container_unpack_net_weight" type="text" class="form-control container_fields" placeholder="{% trans 'Net Weight' %}" name="net_weight" readonly required>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="filter-lbl">{% trans 'Gross Weight' %}</div>
                                            <input id="container_unpack_gross_weight" type="text" class="form-control" placeholder="{% trans 'Gross Weight' %}" name="gross_weight" readonly required>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="filter-lbl">{% trans 'Load Type' %}</div>
                                            <select id="container_unpack_load_type" name="load_type" class="form-control" required>
                                                <option value="">{% trans 'Select Load Type' %}</option>
                                                <option value="CO-LOAD">{% trans 'CO-LOAD' %}</option>
                                                <option value="FULL-LOAD">{% trans 'FULL-LOAD' %}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 col-sm-2" style="padding-top: 18px;">
                                          <label>
                                            <input id="unpack_place_holder" name="place_holder" type="checkbox" value="N"> <strong style="font-size:13px">{% trans 'Place Holder' %}</strong>
                                          </label>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="filter-lbl">{% trans 'Container No' %}<sup style="color:red;">*</sup></div>
                                            <input id="unpack_container_no" type="text" pattern="[A-Z]{4}\d{7}" title="4 Capital letters followed by 7 digits" name="container_no" maxlength="11" class="form-control container_fields" placeholder="{% trans 'Container No' %}" oninput="this.value=this.value.toUpperCase();" required>

                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="filter-lbl">{% trans 'Seal No' %}</div>
                                            <input id="unpack_container_seal_no" type="text" name="seal_no" class="form-control container_fields" oninput="this.value=this.value.toUpperCase();" placeholder="{% trans 'Seal No' %}">
                                        </div>
                                        <div class="col-md-3 col-sm-3" style="padding-left: 15px;">
                                            <div class="filter-lbl">{% trans 'Reefer Temp.' %}</div>
                                            <select id="unpack_container_reefer_temp" name="reefer_temp" class="form-control">
                                                <option value="N/A">N/A</option>
                                                <option value="BELOW 18 DEGREES (COLDER)">{% trans 'BELOW 18 DEGREES (COLDER)' %}</option>
                                                <option value="ABOVE 18 DEGREES (WARMER)">{% trans 'ABOVE 18 DEGREES (WARMER)' %}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-1 col-sm-1" style="padding-top: 18px;">
                                          <label>
                                            <input id="unpack_soc" name="soc" type="checkbox" value="N"> <strong style="font-size:13px">{% trans 'SOC' %}</strong>
                                          </label>
                                        </div>
                                        <div class="col-md-8 col-sm-8" style="padding-top: 10px;">
                                            <div class="checkbox icheck w-30">
                                                <label>
                                                    <input id="unpack_genset_required" name="genset_required" type="checkbox" value="N"> <strong>{% trans 'Genset Required' %}</strong>
                                                </label>
                                            </div>
                                            <div class="checkbox icheck w-30">
                                                <label>
                                                    <input id="unpack_fuel_to_be_supplied" name="fuel_supply" type="checkbox" value="N"> <strong>{% trans 'Fuel to be supplied' %}</strong>
                                                </label>
                                            </div>
                                            <div class="checkbox icheck pull-left">
                                                <label>
                                                    <input id="unpack_dropoffatdestination" name="dropoffatdestination" type="checkbox" value="N"> <strong>{% trans 'Drop off at Destination' %}</strong>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group add-order">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="filter-lbl">{% trans 'Remarks' %}</div>
                                            <input id="container_unpack_remarks" name="remarks" type="text" oninput="this.value=this.value.toUpperCase();" class="form-control container_fields" placeholder="{% trans 'Remarks' %}">
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="filter-lbl">{% trans 'Container Dropoff' %}<sup style="color:red;">*</sup></div>
                                            <select id="unpack_empty_dropoff" name="empty_dropoff" data-url="{% url 'orders:loading-points-html' %}" class="form-control container_fields" required>
                                            <option value="">{% trans 'Container Dropoff' %}</option>
                                                {% for location in containerdropofflocation %}
                                                    <option value="{{ location.locationcode }}">
                                                        {{ location.locationname }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="filter-lbl">{% trans 'Container Depot' %}<sup style="color:red;">*</sup></div>
                                            <select id="unpack_empty_depot" name="empty_depot" class="form-control container_fields" required>
                                                <option value="">{% trans 'Container Depot' %}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="filter-lbl">{% trans 'Grounding Instr. Ref' %}</div>
                                            <input id="container_unpack_grounding_reference" name="grounding_reference" type="text" class="form-control container_fields" oninput="this.value=this.value.toUpperCase();" placeholder="Grounding Instr. Ref">
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="filter-lbl">{% trans 'Last DO Validity Date' %}</div>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input name="validity_date" type="text" data-date-format='dd/mm/yyyy' class="form-control pull-right container_fields" placeholder="{% trans 'Last DO Validity Date' %}" id="container_unpack_validity_date" value="">
                                                <input id="container_unpack_action_type" type="hidden" value="I" name="action_type">
                                                <input id="container_unpack_slno" type="hidden" value="0" name="slno">
                                                <input id="id_created_tostation_unpack" type="hidden"  name="created_tostation">
                                                <input id="created_tostation_depot_unpack" type="hidden"  name="created_tostation_depot">
                                                <input id="id_comodity_code_unpack" type="hidden"  name="commodity_code">
                                                <input type="hidden" name="cargotypecode" value="7">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="filter-lbl">&nbsp;</div>
                                            <button type="submit" id="container_unpack_save" class="btn btn-success btn-md">{% trans 'Add' %}</button>
                                            <button id="container_unpack_cancel" type="button" class="btn btn-warning btn-md" ><span class="glyphicon glyphicon-remove"></span> {% trans 'Cancel' %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body alert-boxes" >
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close close-alert" aria-hidden="true">&times;</button>
                                    <i class="icon fa fa-ban"></i> <span class="alert-msg"></span>
                                </div>
                                <div class="alert alert-info alert-dismissible">
                                    <button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <i class="icon fa fa-info"></i>
                                </div>
                                <div class="alert alert-warning alert-dismissible">
                                    <button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <i class="icon fa fa-warning"></i>
                                </div>
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <i class="icon fa fa-check"></i> <span class="alert-msg"></span>
                                </div>
                            </div>
                            <!-- /.box -->
                            <div class="box">
                                <div class="box-body table-responsive vs-md">
                                    <table id="container_unpack_table" class="table table-hover details-table" style="width:1300px;">
                                        <thead>
                                            <tr>
                                                <th>{% trans 'Sl No.' %}</th>
                                                <th>{% trans 'Container No' %}</th>
                                                <th>{% trans 'Seal No' %}</th>
                                                <th>{% trans 'Container Type' %}</th>
                                                <th>{% trans 'Cont. Tare' %}</th>
                                                <th>{% trans 'Nett Wt' %}</th>
                                                <th>{% trans 'Gross Wt' %}</th>
                                                <th>{% trans 'Unit Wt(KG)' %}</th>
                                                <th>{% trans 'Unit Qty' %}</th>
                                                <th>{% trans 'Packing Unit' %}</th>
                                                <!-- <th>{% trans 'Unpacked' %}</th> -->
                                                <th>{% trans 'Container Depot' %}</th>
                                                <th>{% trans 'Grounding Instr. Ref' %}</th>
                                                <th>{% trans 'Last DO Validity Date' %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- /.col -->
                    </div>

                </form>
            </div>
            <div class="modal-footer">
{#                <button type="button" class="btn btn-default pull-left close_container_unpack" data-dismiss="modal">{% trans 'Close' %}</button>#}
                <button type="button" class="btn btn-success close_container_unpack" data-dismiss="modal"><i class="fa fa-check-circle-o"></i>{% trans 'Done' %}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
{% endlocalize %}
