{% load i18n %}
<div class="modal fade" id="modal_cleare_fa">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans "Update Cleared Forwarding Agent" %}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="#">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-5 control-label">{% trans "Forwarding Agent" %}</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="id_cleared_fa" disabled>
                            </select>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-5 control-label">Submitted Date<sup>*</sup></label>
                         <div class="col-sm-7">
                            <div class="input-group date w-100">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" id="cleared_sub_fa_date"  class="updates form-control pull-right" data-date-format="dd/mm/yyyy" disabled >

                            </div>
                            <br>&nbsp;
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Cleared Date<sup>*</sup></label>
                         <div class="col-sm-7">
                            <div class="input-group date w-100">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" id="clr_fa"  class="updates form-control pull-right" data-date-format="dd/mm/yyyy" required="" >

                            </div>
                            <br>&nbsp;
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{% trans 'Close' %}</button>
                <button type="button" id="id_btn_cleared_fa" class="btn btn-success"><i class="fa fa-check-circle-o"></i>{% trans 'Done' %}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>