{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% load i18n %}
{% load order_tags %}
{% block page_title %}Ripples | FMS - Customer Management{% endblock %}

{% block extra_style %}

{% endblock %}


{% block dashboard_content  %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1> {% trans "Customer Management" %}</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:home' %}"><i class="fa fa-dashboard"></i>{% trans "Home" %}</a></li>
            <li class="active">{% trans "Customer Management" %}</li>
        </ol>
    </section>

    {% if messages %}
        <div class="box-body" style=" margin-left: 4px; width: 97%; display: block;">
        {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %} {{ message.tags }} {% endif %}" style="display: block">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="icon fa "></i><span class="alert-msg"></span>
            </div>
            <script>
                window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
            </script>
        {% endfor %}
        </div>
    {% endif %}

    <div class="box-body alert-boxes" >

    </div>


<section class="content-header">
    <div class="pull-left col-xs-8 col-sm-10" style="padding: 0px;">
        <button type="button" id="export_customer_management" class="btn btn-info"><span class="glyphicon glyphicon glyphicon-export"></span> {% trans "Export" %}</button>
        <button type="button" id="id_customer_management_view" class="btn btn-info"><span class="glyphicon glyphicon glyphicon-list"></span> {% trans "View Details" %}</button>
    </div>

</section>

    <!-- Main content -->
    <section class="content">
        <!-- /.row -->

        <div class="row">
          <div class="col-xs-12">
              <!--<div class="box box-primary">
                  <div class="box-body filter-box">
                      <div class="row element-space">
                          <div class="col-xs-12 col-sm-6 col-md-2">
                            <div class="filter-lbl">&nbsp;</div>
                            <input id="customer_management_search" type="text" class="form-control" placeholder="{% trans "Search" %}"
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="filter-lbl">&nbsp;</div>
                              <button id="customer_management_list_search" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"></span> {% trans "Search" %}</button>
                              <button type="button"
                                      class="btn btn-default btn-sm"><span class="glyphicon glyphicon-check"></span> {% trans "Clear" %}</button>
                          </div>
                      </div>
                  </div>

              </div>

            -->
                    <div class="box-body table-responsive">
                        <table id="id_customer_management_table_list" class="table table-hover details-table">
                            <thead>
                                <tr>
                                    <th>{% trans "Complaint Reference" %}</th>

                                    <th>{% trans "Order Reference" %}</th>
                                    <th>{% trans "Complaint Type" %}</th>
                                    <th>{% trans "Complaint Description" %}</th>
                                    <th>{% trans "Status" %}</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                <!-- /.box -->
          </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- Main row -->
        <!-- </div> -->
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


{% endblock %}

{% block extra_script %}
<!-- jQuery 3 -->
<!-- Bootstrap 3.3.7 -->
<!-- DataTables -->
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
<script>

    var customer_management_table_list= '';
    customer_management_table_list = $('#id_customer_management_table_list').DataTable({

        "order": [],
        'paging'      : true,
        'lengthChange': false,
        'searching'   : false,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false,
        "processing": true,
        "serverSide": true,
        "stateSave": false,
        "pageLength": 10,
        "columnDefs": [
            {
                "targets": [],
                "visible": false,
                "searchable": false
            }
        ],
        "ajax": "{% url 'customer_management:customer_management_grid' %}"

    });

    var customer_management_data = [];
    var SELECTED_CUSTOMER_MANAGEMENT= "";

    $('#id_customer_management_table_list').on('click', 'tbody tr', function() {
        $('.alert-boxes').hide();
        row_data = customer_management_table_list.row(this).data();
        row_index = customer_management_table_list.row(this).index();
        const this_row = $(this);
        this_row.siblings().removeClass('bg-active-row');
        this_row.addClass('bg-active-row');
        SELECTED_CUSTOMER_MANAGEMENT = customer_management_table_list.row(this).data()[1];
        customer_management_data = customer_management_table_list.row(this).data()
    });







</script>
{% endblock %}